exportPattern("^[[:alpha:]]+")

importFrom("graphics", "boxplot", "lines", "matplot", "plot")
    importFrom("methods", "callNextMethod", "new")
    importFrom("stats", "density", "kruskal.test", "ks.test", "median",
               "na.omit", "quantile")
    importFrom("graphics", "abline", "legend")
    importFrom("stats", "formula", "poisson")
